

/* Color Scheme: Japanese Garden
   #D8CAA8 (Cream)
   #5C832F (Bright Green)
   #284907 (Dark Green)
   #382513 (Brown)
   #363942 (Gray)
*/

html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10px;
    margin: auto;
    color: #284907;
}

header, main { padding: 2.5rem }

header {
    color: #D8CAA8;
    background-color: #382513;
    border-bottom: .3rem solid  #D8CAA8;
    margin: 2rem;
}

header h1 {
    line-height: 1.5rem; 
    text-align: center;
}

.return { font-size: 2.4rem; }

.register { font-size: 2.1rem; }

h1 { font-size: 2.4rem; }

h2 { font-size: 2.1rem; }

h3 { 
     font-size: 1.9rem; 
     padding-top: 2rem;
}

p, li { font-size: 1.4rem; }

a {
    font-size: 1.4rem;
    line-height: 2.5rem; 
    padding-left: 3rem;
}

li { 
    line-height: 2.5rem; 
    padding-left: 3rem;
    font-style: italic;
}

section {
/*    background-color: #284907; */
    padding: 1rem;
    border: .25rem solid darkgrey;
    margin: 1rem;
}

footer {
    padding: 1rem;
    margin: 2.5rem;
}

footer p {
    font-size: 1.1rem;
    color: blue;
}

p {
    padding-left: 3rem;
    font-style: italic;
}

a:link { color: #590080; }

a:visited { color: indigo; }

a:hover {
    color: darkred;
    background-color: black;
    text-decoration: none;
}

a:active {
    color:  black;
    background-color: darkred;
    text-decoration: none;
}

@media only screen and (min-width: 321px) and (max-width: 600px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 320px) {
   .responsive { width: 100%; }
}

/* Gail playing with images that are side-by-side */
/* Three image containers (use 25% for four, and 50% for two, etc) */

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
  margin: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

div.gallery img {
  width: 100%;
  height: auto;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
